<html>
        
<head>

    {% include 'heads.html' %}
</head>
<body>
    {% include 'navv.html' %}
    {% if err %}
    
    <div class="m-3 alert alert-danger alert-dismissible fade show" role="alert" align="center">
        File not found (maybe you select wrong compiler version while upload file)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
    {% endif %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col col-xs-none"></div>

            <div class="col-md-4 col-xs-12">
                <a class="btn btn-info w-100" href="/upload">Upload</a>

            </div>
            <div class="col col-xs-none"></div>
        </div>
        <div class="row mt-3">
            <div class="col col-xs-none"></div>
            <div class="col-md-4 col-xs-12">

                <a class="btn btn-warning w-100"  href="/list">History</a>
            </div>
            <div class="col col-xs-none"></div>
        </div>
        <div class="row mt-3">
            <div class="col col-xs-none"></div>
            <div class="col-md-4 col-xs-12">
                <a class="btn btn-success w-100" href="/payment">Upgrade</a>

            </div>
            <div class="col col-xs-none"></div>
        </div>

        <div class="row mt-3" align="center">
            <div class="col col-xs-none"></div>
            <div class="col-md-4 col-xs-12">
                <a class="btn btn-danger w-50" href="/logout">Logout</a>

            </div>
            <div class="col col-xs-none"></div>
        </div>
</div>

</body>
</html>