<html>

<head>
    {% include 'heads.html' %}
</head>
<body>
    {% include 'navv.html' %}
    <div class="container-fluid">

    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10">

       
        
        <div class="alert alert-success" role="alert">
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            Payment Completed , please wait Redirecting
        </div>
    </div>
</div>
    <div class="col-1"></div>
    <script>

    window.setTimeout(function(){
    
    // Move to a new location or you can do something else
    window.location.href = "/";
    
    }, 5000);
    </script>

</div>
</body>
</html>